/*CSS POUR TOUTES LES PAGES */
/* Défilé lisse de la page html*/ 
html {
  scroll-behavior : smooth;
  }


/* Position du logo */
#logo-off{
  float: left;
  padding: 0px;
  height: 150px;
  position: relative;
  margin-left: 10px;
}

/*Barre de navigation */
#menu {
	background-color: #00B0F0;
	text-align:center;
	padding: 8px;
	height: 80px;
	position: fixed;
	margin-left: 15%;	
	font-family: "Trebuchet MS";
	text-indent: 20px;
	border-style: inset;
	border-color: black;
	border-width: 1px;
	border-radius: 20px;
	margin-top: 15px;
	}

#menu ul {
 		padding:5px;
 		list-style-type:none;
 		font-size: 18px;
 		display: inline-block;
 		}		

#menu li {
 		float:left;
 		margin:auto;
 		background-color:#00B0F0;
 		}

#menu li a {
 			display:block;
 			color:white;
 			text-decoration:none;
 			padding:5px;
 			text-align: center;
 			}

#menu li a:hover {
 				color:blue;
 				width: 100%;
				 				}

 #menu ul li ul {
 				width: 13,7%;
 				display:none;
 				font-family: "Trebuchet MS";
 				text-align: justify;
 				}

 #menu ul li:hover ul {
 					display:block;
 					}

#menu li:hover ul li {
 					float:none;
} 					

 #menu li ul {
 			position:absolute;
 			}

/* Barre de recherche */
 #menu .search-container {
  float: right;
}

#menu input[type=text] {
  padding: 4px;
  margin-top: 3px;
  font-size: 17px;
  border-radius: 25px;
}

#menu .search-container button {
  float: right;
  padding: 6px 10px;
  margin-right: 16px;
  margin-left: 10px;
  background: #ddd;
  font-size: 17px;
  border-radius: 25px;
  cursor: pointer;
}

#menu .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  #menu .search-container {
    float: none;
  }
  #menu a, #menu input[type=text], .#menu .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  #menu input[type=text] {
    border: 1px solid #ccc;  
  }
 }

/* Affichage du logo panier dans la barre de navigation */
#panier {
	height: 28px;
	width: 28px;
	margin-right: 10px;
}

/* Nom des rubriques */ 

h1 {
	font-family: "Helvetica";
		text-align: center;
	}
/* Tableau pour l'affiche des films  */
  table {
    text-align: center;
    text-indent: 20px;
  }
/* Titre des films */
    td {
      font-family: "Trebuchet MS";
      font-weight: bold;
	  
    }

/* Prix */ 
    p.prix {
      color: red;
      text-align: right;
      margin: 30px;
      font-style: italic;
      }

/* Liste page catégories et format */
	ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 18px "Trebuchet MS";
    padding: 10px;
    width: 74%;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    margin-left: 13%;
    margin-top: 50px;
}

ol ol {
    margin: 0 0 0 2em; /
}

.rounded-list a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

.rounded-list a:hover{
    background: #eee;
}

.rounded-list a:hover:before{
    transform: rotate(360deg);  
}

.rounded-list a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #00B0F0;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    border-radius: 2em;
    transition: all .3s ease-out;
    color: white;
}

/* Slideshow */ 
article img.mySlides {
	width: 70%;
	height: 440px;
  border-style: inset;
}

/*Scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 5px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#00B0F0 ; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #009dd7; 
}
/* GIF pour l'ancre vers le haut */
#arrow {
  float: right;
  height: 150px;
}

/* Tableau pour affiche + titre + prix */
table.bluray td {
  width: 35%;
  margin-left: 10%;}

table.bluray td img {
  text-align: center;
	float: center;
  margin-left: 10%;
}
/* Titre du film dans le tableau */
p.titre {
  margin-top: -90px;
  text-align: left;
  font-size: 33px;
  width: 100%;
  margin-left: 10%;
  }
/* Prix du film dans le tableau */
p.prix2  {
  text-align: left;
  width: 100%;
  float: left;
  margin-left: 10%;
  font-size: 30px;
  color: red;
}

/* BOUTON POUR AJOUT DU PANIER */
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #00B0F0;
}

.styled:hover {
    background-color: #009dd7;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* FORMULAIRE PAGE CONNEXION */

#info {
 background-color: #DCDCDC;
 padding:10px;
 border: 1px;
 }
#info{
 padding:0 25px 20px 20px;
 margin-bottom:10px;
 }
#info {
  font-family: "Trebuchet MS";
 color:black;
 font-weight:bold
 }
label {
 display:block;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, textarea, select, option {
 background-color:white;
 font-size: 14px;
 
 }
input, textarea, select {
 padding:4px;
 border:1px solid #C0C0C0	;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }
select {
 margin-top:10px;
 }

input[type=submit], input[type=reset] {
 width:150px;
 height: 35px;
 margin-left:5px;
 box-shadow:1px 1px 1px black;
 cursor:pointer;
 }
 

 

/* Texte sur la page de connexion en dessous du formulaire */
h2 {
  text-align: center;
  margin-top: -250px;
  font-family: "Trebuchet MS";
  font-size: 18px;
}
/* Bouton d'Inscription*/
a.get {
  text-decoration: none;
  color: black;
  padding: 20px 10px;
  font-size: 18px;
  border: 2px solid  #DCDCDC;
  transition: box-shadow 0.2s, color 0.2s, background-color 0.2s;
  border-radius: 10px;
  font-family: "Trebuchet MS";
}

a.get:hover {
  box-shadow: 0px 0px 5px #eee;
  background-color: #eee;
  color: black;
}

/* Tableau pour afficher les films ajouter au panier */

table.paanier {
text-align: center;
font-family: "Trebuchet MS";
background-color: white;
  
}

table.paanier td {
  width: 20%;
font-size: 19px;}

table.paanier th {
font-size: 22px;
border-style: ridge;
background-color: #DCDCDC;}

table.paanier td.total {
  color: red;
  font-size: 25px;
  border-style: outset;
  border-color: #DCDCDC;}

/* Class Aimes pour la page mes listes */
table.paanier th.aimes {
  border-style: none;
  background-color: white;
  text-align: center;
  }
/* Style de l'icone du coeur dans toutes les pages pour l'ajout a mes listes*/
.coeur {
width:25px;}

.footer {
  background-color: #00B0F0;
   border-style: inset;
   border-color: black 2px;

}